<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/e2c98930-a2ea-466a-a088-8a765c25f705/resourceGroups/bookstore-api-demo/providers/Microsoft.Web/sites/bookstore-api-demo</ResourceId>
    <ResourceGroup>bookstore-api-demo</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://bookstore-api-demo.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://bookstore-api-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$bookstore-api-demo</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>